services:
  web:
    build: .
    container_name: django_backend_local
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --reload
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env.local
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    container_name: django_postgres_local
    env_file:
      - .env.local
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: django_redis_local

volumes:
  postgres_data:
  static_volume:
  media_volume:
