services:
  web:
    build: .
    container_name: django_backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers ${GUNICORN_WORKERS:-2}
    volumes:
      - ${STATIC_ROOT_HOST}:/app/staticfiles
      - ${MEDIA_ROOT_HOST}:/app/media
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: django_redis
    restart: unless-stopped
